:root {
  --white: #FFF;
  --primary: #807e7b;
  --primary-hover: #999796;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  background: url(/bg_clima.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
}